#backgroundHeader {
    background-image: url('../public/assets/images/imagem-foco.jpeg');
}
/* #contract {
    background-image: url('../public/assets/images/contract.jpg');
} */
/* #hands {
    background-image: url('../public/assets/images/hands.jpg');
} */
#Together {
    background-image: url('../public/assets/images/together.jpg');
}
#teste {
    width: 350px;
    height: 350px;
    background-image: url('../public/assets/images/background-landingpage.jpg');
    border-radius: 50%;
}
#saibaMais {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}