#background-header {
    background-image: url(../public/assets/images/imagem-foco.jpeg);
}
#contract {
    background-image: url(../public/assets/images/contract.jpg);
}
#hands {
    background-image: url(../public/assets/images/hands.jpg);
}
#together {
    background-image: url(../public/assets/images/together.jpg);
}
#teste2 {
    width: 350px;
    height: 350px;
    background-image: url('../assets/images/background-landingpage.jpg');
    border-radius: 50%;
}
