/* #backgroundHeader {
    background-image: url('../public/assets/images/imagem-foco.jpeg');
}
#contract {
    background-image: url('../public/assets/images/contract.jpg');
}
#hands {
    background-image: url('../public/assets/images/hands.jpg');
}
#Together {
    background-image: url('../public/assets/images/together.jpg');
} */
#teste {
    width: 350px;
    height: 350px;
    background-image: url('assets/images/background-landingpage.jpg');
    border-radius: 50%;
}
#saibaMais {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
#TalkingAbout {
    background: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
#area-text {
    background: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(15px);
}
.modal {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.8);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

@media only screen and (min-width: 254px) {
    #area-text {
        width: 100%;
        font-size: 20px;
    }
    .area-text-title {
        font-size: 15px;
    }
}
@media only screen and (min-width: 290px) {
    #area-text {
        width: 95%;
    }
}
@media only screen and (min-width: 320px) {
    #area-text {
        width: 95%;
    }
    .area-text-title {
        font-size: 15px !important;
    }
}
@media only screen and (min-width: 421px) {
    #area-text {
        width: 90%;
    }
}
@media only screen and (min-width: 474px) {
    #area-text {
        width: 80%;
    }
}
@media only screen and (min-width: 580px) {
    #area-text {
        width: 70%;
    }
}
@media only screen and (min-width: 768px) {
    #area-text {
        width: 50%;
    }
}
@media only screen and (min-width: 1024px) {
    #area-text {
        width: 50%;
    }
    .form {
        display: none;
    }
    #container {
        display: none;
    }
    #container2 {
        display: none;
    }
}

