/* RESPONSIVIDADE TELA DE INICIO PARTE MENU */
@media (max-width:728px) {
	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #2699d3;
	}
	header {
		height:auto;
	}
	.logo {
		padding-left:20px;
	}
	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
}

/* RESPONSIVIDADE DA TELA DE ANÚNCIOS */
@media(max-width: 473px) {
	.ContainerCadastraAnuncio form {
		width: 90%;
		height: 580px;
		background-color: #FFF;
		padding: 20px;
		border-radius: 6px;
		box-shadow: -2px 0px 13px #ccc;
		margin-bottom: 40px;
	}
	.tipo-txt{
		flex-direction: column;
		justify-content: center;
		align-items: center;	
	}
	.info-criador {
		
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.info-loc {
		
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media(max-width: 500px) {
	.ContainerCadastraAnuncio form {
		width: 80%;
		height: 580px;
		background-color: #FFF;
		padding: 20px;
		border-radius: 6px;
		box-shadow: -2px 0px 13px #ccc;
		margin-bottom: 40px;
	}
	.tipo-txt{
		padding-left: 30px;
	}
	.info-criador {
		padding-left: 30px;
	}
	.info-loc {
		padding-left: 30px;
	}
}


@media(max-width: 600px) {
	.ContainerCadastraAnuncio form {
		width: 70%;
		height: 580px;
		background-color: #FFF;
		padding: 20px;
		border-radius: 6px;
		box-shadow: -2px 0px 13px #ccc;
		margin-bottom: 40px;
	}
	#anuncios 
	.container
	.anuncio {
    width: 97%;
    height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #FFF;
    margin: 10px;
	}
	.txt-inicial{
		width: 100%;
		height: 18%;
	}
	.txt-inicial-editar{
		width: 100%;
		height: 18%;

		padding-left: 10px;
		padding-right: 10px;
	} 
	.anuncio .subtitulo{
		width: 100%;
		height: auto;
		max-width: 100%;

		overflow-x: hidden;
		overflow-y: hidden;

		word-break: break-all;
		font-size: 14px;
		padding: 25px 10px;
	}
	/* .lista-imagem {
		display: none !important;
	} */
	.lista-imagem-modal {
		width: 100%;
		height: 14%;
		display: flex !important;
		justify-content: center;
		align-items: center;
	}
	.imagem-modal{
		width: 110px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer; 
		background-color: #39aae1; 
		border: none; 
		border-radius: 5px; 
		padding: 15px; 
		color: #FFF;
	}
	.tipo-txt{
		width: 100%;
		height: 16%;
	}
	.dados-publi{
		width: 100%;
		height: 35%;
	}
}

@media(max-width: 618px) {
	.ContainerCadastraAnuncio form {
		width: 60%;
		height: 580px;
		background-color: #FFF;
		padding: 20px;
		border-radius: 6px;
		box-shadow: -2px 0px 13px #ccc;
		margin-bottom: 40px;
	}
	.anuncio .lista-imagem {
		width: 92%;
		height: 37%;
	}
	
}

@media(max-width: 700px) {
	.container {
		width: 100%;
	}
	.button-detalhes{
		width: 160px;
		height: 25px;
	}
}
@media(max-width: 812px) {
	.subtitulo{
		width: 100%;
		height: auto;
		max-width: 100%;

		overflow-x: hidden;
		overflow-y: hidden;

		word-break: break-all;

		padding: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.dados-publi {
		flex-direction: column;
	}
	.valor-dados {
		width: 100%;
		height: 30px;
		padding-right: 0;
		padding-bottom: 10px;
		justify-content: center;
		align-items: center;
	}

}
@media(max-width: 1015px) {
	.info-dados {
		width: 100%;
	}
	.button-detalhes{
		width: 160px;
		height: 25px;
	}
	
}


/* Tela de Meu Perfil */

@media (max-width:1240px) {
	nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #2699d3;
	}
	header {
		height:auto;
	}
	.logo {
		padding-left:20px;
	}
	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
	.botao-sair-perfil{
		width: 60px;
		height: 35px;
	}
	
}
@media (max-width:1050px) {

	.perfil-box{
		width: 65%;
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		background: rgba(255,255,255,0.1);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		-webkit-box-shadow: 0px 0px 15px 2px #7e7575; 
		box-shadow: 0px 0px 15px 2px #7e7575;
	}
	.avatar{
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}
	.botao-voltar-perfil{
		width: 110px;
		height: 30px;
		font-size: 14px;
	}
	.botao-sair-perfil{
		width: 80px;
		height: 30px;
	}
	.botao-enviar-perfil{
		width: 110px;
		height: 30px;
		font-size: 14px;
	}
	
}

@media (max-width:680px) {

	.perfil-box{
		width: 82%;
		height: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		background: rgba(255,255,255,0.1);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		-webkit-box-shadow: 0px 0px 15px 2px #7e7575; 
		box-shadow: 0px 0px 15px 2px #7e7575;
	}
	.avatar{
		width:90px;
		height: 90px;
		border-radius: 50%;
	}
	.dados-perfil div{
		width:100%;
		height:60%;
		font-size: 12px;
	}
	.dados-perfil input {
		width: 100%;
		height: 25px;
		padding: 10px;
	}	
	.dados-importantes-perfil .conteudo-dados-perfil div{
		width:28%;
		height:18px;
		font-size: 12px;
	}
	.dados-importantes-perfil .conteudo-dados-perfil2 div{
		width:40%;
		height:16px;
		font-size: 12px;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight: 200;
		color: #2684DE;
	}
	.dados-importantes-perfil input{
		width: 100%;
		height: 25px;
		padding: 10px;
	}
	.conteudo-dados-perfil2 .uf{
		padding-right: 16px;
		font-size: 12px;
	}
	.dados-importantes-perfil .entrada-uf{
		width: 100%;
		height: 25px;
		padding: 10px;
	}
	
}
@media (max-width:510px) {

	.logo {
		font-size: 16px;
	}
	.perfil-box{
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		background: rgba(255,255,255,0.1);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		-webkit-box-shadow: 0px 0px 15px 2px #7e7575; 
		box-shadow: 0px 0px 15px 2px #7e7575;
	}
	.avatar{
		width:90px;
		height: 90px;
		border-radius: 50%;
	}
	.dados-perfil div{
		width:100%;
		height:35%;
		font-size: 10px;
	}
	.dados-perfil input {
		width: 100%;
		height: 25px;
		font-size: 10px;
		padding: 6px;
	}	
	.dados-importantes-perfil .conteudo-dados-perfil div{
		width:28%;
		height:16px;
		font-size: 10px;
	}
	.dados-importantes-perfil .conteudo-dados-perfil2 div{
		width:40%;
		height:16px;
		font-size: 10px;
	}
	.dados-importantes-perfil input{
		width: 100%;
		height: 25px;
		font-size: 10px;
		padding: 6px;
	}
	.conteudo-dados-perfil2 .uf{
		font-size: 10px;
	}
	.dados-importantes-perfil .entrada-uf{
		width: 100%;
		height: 25px;
		padding: 6px;
	}
	.botao-voltar-perfil{
		width: 80px;
		height: 25px;
		font-size: 12px;
	}
	.botao-sair-perfil{
		width: 60px;
		height: 25px;
		font-size: 12px;
	}
	.botao-enviar-perfil{
		width: 80px;
		height: 25px;
		font-size: 12px;
	}
}
@media (max-width:320px) {
	.logo {
		font-size: 20px;
	}
	.menuMobile {
		width: 30px;
		height: 30px;
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}
	.perfil-box{
		width: 100%;
		height: 65%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		background: rgba(255,255,255,0.1);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		-webkit-box-shadow: 0px 0px 15px 2px #7e7575; 
		box-shadow: 0px 0px 15px 2px #7e7575;
	}
	.avatar{
		width:90px;
		height: 90px;
		border-radius: 50%;
	}
	.dados-perfil div{
		width:100%;
		height:60%;
		font-size: 10px;
	}
	.dados-perfil input {
		width: 100%;
		height: 25px;
		font-size: 10px;
		padding: 6px;
	}	
	.dados-importantes-perfil .conteudo-dados-perfil div{
		width:28%;
		height:16px;
		font-size: 10px;
	}
	.dados-importantes-perfil .conteudo-dados-perfil2 div{
		width:40%;
		height:16px;
		font-size: 10px;
	}
	.dados-importantes-perfil input{
		width: 100%;
		height: 25px;
		font-size: 10px;
		padding: 6px;
	}
	.conteudo-dados-perfil2 .uf{
		width:100%;
		height:16px;
		padding-right: 12px;
		font-size: 10px;
	}
	.dados-importantes-perfil .entrada-uf{
		width: 100%;
		height: 25px;
		padding: 6px;
	}
	.botao-voltar-perfil{
		width: 80px;
		height: 25px;
		font-size: 11px;
	}
	.botao-sair-perfil{
		width: 50px;
		height: 25px;
		font-size: 11px;
	}
	.botao-enviar-perfil{
		width: 80px;
		height: 25px;
		font-size: 11px;
	}
}


