*{	
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
header {
	display:flex;
	justify-content:center;
	height:100px;
    background-color: #2699d3;
}
.container {
	display:flex;
	justify-content:space-between;
	width: 90%;
}
.logo {
	display:flex;
	align-items:center;
    color:#FFF;
    font-size: 30px;
}
.menu {
	display:flex;
	align-items:center;
}
nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}
nav ul {
	display:flex;
}
nav a {
	display:block;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#faf8f8;
}
nav .active a,
nav a:hover {
	background-color:#FFF;
	color: #39aae1;
}
.menuMobile {
	display:none;
	width:40px;
	height:40px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20px;
}

.mm_line {
	height:3px;
	background-color:#FFF;
}
#anuncios {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}
#anuncios .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 10px;
}
.anuncioLoading{
	width: 100px;
	height: 100px;
}
.sem_anuncios{
	color: #39aae1;
	font-weight: bolder;
	font-size: 20px;
	height:40px;
	display:flex;
	align-items: center;
}
#anuncios 
.container
.anuncio {
    width: 97%;
    height: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #FFF;
    margin: 10px;
}

 .txt-inicial{
	width: 100%;
	height: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 35px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
} 
.anuncio .subtitulo{
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 90px;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 90px;
	padding-right: 90px;
}
.anuncio .lista-imagem{
	width: 100%;
	height: 36%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.lista-imagem .imagem1{
	width: 100px;
	height: 100px;
	margin-right: 50px;
	/* background-color: #2699d3; */
	display: flex;
	align-items: center;
	justify-content: center;
}
.video-box{
	width: 100px;
	height: 100px;
	margin-right: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	border: 2px solid #2699d3;
	border-radius: 10px;
}
.video-box :hover{
	opacity: 0.5;
}
.play-button{
	width: 70px;
	height: 70px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.image_of_loading{
	width: 100px;
	height: 100px;
	object-fit: fill;
}
.image_of_project{
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	display:none;
	object-fit: cover;
	border: 2px solid #2699d3;
	border-radius: 10px;
}
.lista-imagem .imagem2{
	width: 100px;
	height: 100px;
	background-color: #2699d3;
}.lista-imagem .imagem3{
	width: 100px;
	height: 100px;
	margin-left: 50px;
	background-color: #2699d3;
}
.lista-imagem-modal{
	display: none;
}
.tipo-txt{
	width: 100%;
	height: 12%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.cont1{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tipo-txt .tipo{
	padding-right: 4px;
	font-size: 14px;
	font-weight: 550;
	font-family: Arial, Helvetica, sans-serif;
}
.txt-info{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.cont2{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.button-detalhes{
	width: 160px;
	height: 30px;
	border-radius: 8px;
	border-style: none;
	background-color:#2684DE ;
	cursor:pointer;
}
.button-detalhes a{
	width: 160px;
	height: 30px;
	font-size: 15px;
	text-decoration: none;
	color: #FFF;
	font-family: Georgia, 'Times New Roman', Times, serif;
	cursor:pointer;
}
.dados-publi{
	width: 100%;
	height: 24%;
	display: flex;
	flex-direction: row;
}
.info-dados{
	width: 50%;
	height: 100%;
}
.info-criador{
	width:100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	padding-left: 90px;
	align-items: center;
}
.info-proposta{
	padding-right: 4px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 550;
}
.info-loc{
	width:100%;
	height: 50%;
	display: flex;
	padding-left: 90px;
}
.info-cidade{
	padding-right: 4px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 550;
}
.loc-criador{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.valor-dados{
	width: 50%;
	height: 100%;
	display: flex;
	padding-right: 90px;
	justify-content: flex-end;
	align-items: center;
}
.info-valor{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 550;
	padding-right: 4px;
}
.valor{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	display: flex;
  }
  .modal-content div {
	  width: 100px;
	  height: 100px;
	  background-color: #39aae1;
	  margin-right: 20px;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

.ContainerCadastraAnuncio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.ContainerCadastraAnuncio h1 {
	margin: 20px;
	color: #2699d3;
}

.ContainerCadastraAnuncio form {
	width: 50%;
	height: 680px;
	background-color: #FFF;
	padding: 20px;
	border-radius: 6px;
	box-shadow: -2px 0px 13px #ccc;
	margin-bottom: 40px;


}

.ContainerCadastraAnuncio .TipoAnuncio {
	display: flex;
	flex-direction: column;
	margin: 5px 0;
}
.ContainerCadastraAnuncio .TipoAnuncio input {
	height: 40px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #39aae1;
	outline-color: #3ba6db;
	font-size: 17px;
}
.ContainerCadastraAnuncio .TipoAnuncio select {
	height: 40px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #39aae1;
	outline-color: #3ba6db;
	font-size: 17px;
}
.ContainerCadastraAnuncio .ImagemAnuncio {
	display: flex;
	flex-direction: column;
	margin: 5px 0;
	/* background-color: red; */
}
.ContainerCadastraAnuncio .ImagemAnuncio div{
	display: flex;
	flex-direction: row;
}
.image_button_cadastro_anuncio{
	width: 60px;
	height: 60px;

	margin-right: 10px;
	border-radius: 5px;
	background-color: #2699d3;

	font-size: 35px;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}
.image_button_cadastro_anuncio:hover{
	width: 60px;
	height: 60px;

	border-radius: 5px;
	border: 1px solid #2699d3;
	background-color: white;

	font-size: 35px;
	color: #2699d3;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}
.image_container_anuncio{
	width: calc(100% - 70px);
	margin-left: 10px;
	/* background-color: blue; */
	overflow-x: auto;
    overflow-y: hidden;
}
.image_anuncio{
	width: 60px;
	height: 60px;
	min-width: 60px;

	border-radius: 5px;
	border: 1px solid #2699d3;

	font-size: 35px;
	color: white;

	margin-right: 10px;

	display: none;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	object-fit: cover;
}
.image_loading_box{
	width: 60px;
	height: 60px;
	min-width: 60px;

	border: 1px solid #2699d3;
	border-radius: 5px;

	background-image: url('/assets/images/Loading.gif');
	background-size: cover;
	
	margin-right: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.trash{
	width: 60px;
	height: 60px;
	min-width: 60px;

	border-radius: 5px;
	background-color: red;
	margin-right: -60px;
	padding: 10px;

	display: none;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	object-fit: cover;
}
.image_anuncio:hover{
	opacity: 0.4;
}
/* .image_anuncio:hover > .trash{
	display: flex;
} */
.ContainerCadastraAnuncio .TipoAnuncioButton {
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
}
.ContainerCadastraAnuncio .TipoAnuncioButton button {
	width: 170px;
	height: 60px;

	background-color: #2699d3;
	border-radius: 5px;
	border: 0;

	font-size: 18px;
	color: #FFF;

	cursor: pointer;
}
.errorDiv{
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.perfil-box .errorDiv{
	width: 80%;
	height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.errorDiv div{
	height: 100%;
	color: red;
	font-weight: bold;
	font-size: 13px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.loading-button{
	width: 170px;
	height: 60px;
	background-color: white;

	border-radius: 5px;
	border: 2px solid #2699d3;

	display: flex;
	justify-content: center;
	align-items: center;

	display: none;
}
.loading{
	width: 30px;
	height: 30px;
}

/* Tela de Meu Perfil */

.container-perfil{
	width: 100vw;
	height: 100vh;
}
.container-perfil .container-box-perfil{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.perfil-box{
	width: 45%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -webkit-box-shadow: 0px 0px 15px 2px #7e7575; 
    box-shadow: 0px 0px 15px 2px #7e7575;
}
.avatar-ft{
	width: 80%;
	height: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.avatar{
	width: 160px;
	height: 160px;

	border-radius: 80px;
	border: 2px solid #2699d3;

	background-image: url('/assets/images/avatar.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 160%;
}
.avatar_image_icon{
	width: 160px;
	height: 160px;
	margin-left: -160px;

	border-radius: 80px;
	background-color: rgba(128, 128, 128, 0.5);
	background-image: url('/assets/images/camera.png');
	background-position: center;
	background-repeat: no-repeat;

	background-size: 50%;

	opacity: 0;
}
.avatar_image_icon:hover{
	opacity: 0.8;
	cursor: pointer;
}
.dados-perfil{
	width: 80%;
	height: 10%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.dados-perfil div{
	width:100%;
	height:60%;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 200;
	color: #2684DE;
}
.dados-perfil input {
	width: 100%;
	height: 30px;
	border: 1px solid #2684DE;
	border-radius: 8px;
	background-color: #FFF;
	color: #000;
	padding: 14px;
}
.dados-importantes-perfil{
	width: 80%;
	height: 17%;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
	padding-top: 11px;
}
.conteudo-dados-perfil{
	flex: 2;
}
.conteudo-dados-perfil2{
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.conteudo-dados-perfil2 .cont-perfil2{
	width:28%;
	height:20px;
}
.dados-importantes-perfil .conteudo-dados-perfil div{
	width:28%;
	height:20px;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 200;
	color: #2684DE;
}
.dados-importantes-perfil .conteudo-dados-perfil2 div{
	width:40%;
	height:20px;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 200;
	color: #2684DE;
}
.dados-importantes-perfil input{
	width: 100%;
	height: 30px;
	border: 1px solid #2684DE;
	border-radius: 8px;
	background-color: #FFF;
	padding: 10px;
}
.conteudo-dados-perfil2 .uf{
	padding-right: 20px;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 200;
	color: #2684DE;
}
.dados-importantes-perfil .entrada-uf{
	width: 100%;
	height: 30px;
}
.entrada-cidade{
	width: 20%;
	height: 30px;
}  
.container-botao-perfil{
	width: 80%;
	height: 15%;
	/* margin-top: 20px; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.container-botao-perfil div .loading-button{
	width: 140px;
	height: 35px;
}
.botao-voltar-perfil{
	width: 140px;
	height: 35px;
	border-radius: 8px;
	border-style: none;
	background-color:#2684DE ;
	font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botao-sair-perfil{
	width: 100px;
	height: 35px;
	border-radius: 8px;
	border-style: none;
	background-color:#2684DE ;
	font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botao-enviar-perfil{
	width: 140px;
	height: 35px;
	border-radius: 8px;
	border-style: none;
	background-color:#2684DE ;
	font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
 /* Tela de detalhe de anúncios */

 #anuncios {
    display: flex;
	flex-direction: column;
}
#anuncios .container {
	width: 90%;
	height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 10px;
}
.anuncioLoading{
	width: 100px;
	height: 100px;
}
.sem_anuncios{
	color: #39aae1;
	font-weight: bolder;
	font-size: 20px;
	height:40px;
	display:flex;
	align-items: center;
}
#anuncios 
.container
.anuncio-detalhe{
    width: 97%;
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #FFF;
    margin: 10px;
}

 .txt-inicial-detalhe{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 35px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
} 
.anuncio-detalhe .subtitulo{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 90px;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
}
.anuncio-detalhe .lista-imagem-detalhe{
	width: 100%;
	height: 22%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.lista-imagem-detalhe .imagem-detalhe{
	width: 100px;
	height: 100px;
	margin-right: 50px;
	/* background-color: #2699d3; */
	display: flex;
	align-items: center;
	justify-content: center;
}
.video-box{
	width: 100px;
	height: 100px;
	margin-right: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	border: 2px solid #2699d3;
	border-radius: 10px;
}
.video-box :hover{
	opacity: 0.5;
}
.play-button{
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image_of_loading{
	width: 100px;
	height: 100px;
	object-fit: fill;
}
.image_of_project{
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	display:none;
	object-fit: cover;
	border: 2px solid #2699d3;
	border-radius: 10px;
}
.lista-imagem-detalhe .imagem-detalhe{
	width: 100px;
	height: 100px;
	background-color: #2699d3;
}.lista-imagem-detalhe .imagem-detalhe{
	width: 100px;
	height: 100px;
	margin-left: 50px;
	background-color: #2699d3;
}
.lista-imagem-modal-detalhe{
	display: none;
}
.tipo-txt-detalhe{
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.cont1-detalhe{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.tipo-txt-detalhe .tipo{
	padding-right: 4px;
	font-size: 14px;
	font-weight: 550;
	font-family: Arial, Helvetica, sans-serif;
}
.txt-info-detalhe{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.cont2-detalhe{
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* .button-voltar-detalhe{
	width: 160px;
	height: 30px;
	border-radius: 8px;
	border-style: none;
	background-color:#2684DE ;
	cursor:pointer;
} 
.button-detalhes a{
	width: 160px;
	height: 30px;
	font-size: 15px;
	text-decoration: none;
	color: #FFF;
	font-family: Georgia, 'Times New Roman', Times, serif;
	cursor:pointer;
}*/
.dados-publi-detalhe{
	width: 100%;
	height: 12%;
	display: flex;
	flex-direction: row;
}
.info-dados-detalhe{
	width: 50%;
	height: 100%;
}
.info-criador-detalhe{
	width:100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	padding-left: 90px;
	align-items: center;
}
.info-proposta-detalhe{
	padding-right: 4px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 550;
}
.info-loc-detalhe{
	width:100%;
	height: 50%;
	display: flex;
	padding-left: 90px;
}
.info-cidade-detalhe{
	padding-right: 4px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 550;
}
.loc-criador-detalhe{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.valor-dados-detalhe{
	width: 50%;
	height: 100%;
	display: flex;
	padding-right: 90px;
	justify-content: flex-end;
	align-items: center;
}
.info-valor-detalhe{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 550;
	padding-right: 4px;
}
.valor-detalhe{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.container-comentario{
	width: 100%;
	height: 41%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text-titulo-comentario{
	width: 55%;
	height: 10%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: bold;
}
.comentarios-cont{
	width: 100%;
	height: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.comentarios{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 2.5px 0; 
}
.ft-detalhe{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #2e519b;
}
.cont-comentario-detalhe{
	width: 50%;
	height: 25px;
	margin-left: 10px;
	display: flex;
	align-items: center;
}
.text-comentario{
	width: 100%;
	height: 25px;
	border-radius: 4px;
	color: #000;
	border: none;
	padding: 2px 8px;
	font-size: 12px;
	background-color: rgb(222, 239, 255);
}
.responder{
	width: 48%;
	height: 22px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 10px;

}
.resp{
	width: 60px;
	height: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.resp a{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #000;
	color: #FFF;
}
.comentar{
	width: 52%;
	height: 20%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}
.text-comentar{
	width: 100%;
	height: 30px;
	background-color: #FFF;
}
.enviar-comentario{
	width: 90px;
	height: 25px;
	margin-left: 10px;
	background-color: #2684DE;
	border-radius: 8px;
}
.cont-voltar-detalher{


}
.botao-voltar-detalhe{

}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	display: flex;
  }
  .modal-content div {
	  width: 100px;
	  height: 100px;
	  background-color: #39aae1;
	  margin-right: 20px;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
