*{
    box-sizing:border-box;  
    margin: 0;
    padding: 0;
}
.modal{
  display: none;
}

/* ------------------------------------ */

.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100%;
  transition: 300ms;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.modal-container{
  width: 35%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.modal span{
  width: 100%;
  height: 40px;
  float: right;
  font-size: 36px;
  color: #000;
  margin:0px 20px;
  margin-bottom: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.modal span:hover{
  color: #ff0000;
  transition: 400ms;
}
.logo-mobile{
    width:100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
/* ------------------------------------ */

.container-cadastro{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}
.cadastro{
  width: 90%;
  height: 90%;
  display: flex;
  border-radius: 8px;
  box-shadow:  5px 5px 5px 5px rgb(0,0,0, 0.2);
  background-color: #FFF;
}
.content-esq{
  width: 55%;
  height: 100%;
  background-image: url('../assets/images/imagem-cadastro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-blend-mode:darken;
}
.conteudo-inicial{
  width: 100%;
  height:25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conteudo-inicial .cont-glass{
  width: 80%;
  height:90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  border-radius: 12px;
  background: rgba(177, 177, 177, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.titulo-esq{
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.conteudo-inicial ol{
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-left: 25px;
  padding-top: 5px;
}
.esq{
  width: 40%;
  height: 14%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.content-vidro{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.titulo-cadastro{
  width: 68%;
  height: 43%;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 510;
  text-align: center;
}
.saiba-mais{
  width: 160px;
  height: 30px;
  border-radius: 8px;
  border-style: none;
  background-color:#2684DE ;
}
.saiba-mais a{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2684DE ;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF;
  text-decoration: none ;
  cursor:pointer;
}
.saiba-mais a:active{
  background-color: #256caf;
}
.content-dir{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;    
}
.area-cadastro{
  width: 60%;
  height: 82%;
  display: flex;
  flex-direction: column;
}
.logo{
  width:100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.entrada-dados{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dados{
  width: 100%;
  height: 48%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.dados div{
  width:100%;
  height:30%;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  color: #2684DE;
}
.dados input {
  width: 100%;
  height: 30px;
  border: 1px solid #2684DE;
  border-radius: 8px;
  background-color: #FFF;
  color: #000;
  padding: 14px;
}
.dados-importantes{
  width: 100%;
  height: 38%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  padding-top: 11px;
}
.conteudo-dados{
  width: 100%;
  height: 100%;
}
.dados-importantes .conteudo-dados div{
  width:28%;
  height:20px;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  color: #2684DE;
}
.dados-importantes input{
  width: 100%;
  height: 30px;
  border: 1px solid #2684DE;
  border-radius: 8px;
  background-color: #FFF;
  padding: 14px;
}
.uf{
  margin-left: 14px;
}
.dados-importantes .entrada-uf{
  width: 70%;
  height: 30px;
  margin-left: 14px;
}
.entrada-cidade{
  width: 20%;
  height: 30px;
}
.errorDiv{
  width: 100%;
  height: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.errorDiv div{
    height: 100%;
    color: red;
    font-weight: bold;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.login{
  width: 100%;
  height:5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.txt-login{
  font-size: 15px;
  color:#2684DE;
}
.logar{
  font-size: 16px;
  font-weight: 500;
  margin-left: 6px;
}
.logar a{
  color:#000000;
  text-decoration: none;
  cursor: pointer;
}
.termos{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}
.txt-termos{
  width: 90%;
  height: 100%;
  font-size: 12px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #2684DE;
}
.txt-termos a{
  color: #000;
  text-decoration: none;
}
.envio{
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enviar{
  width: 160px;
  height: 35px;
  border-radius: 8px;
  border-style: none;
  background-color:#2684DE ;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF;
  cursor:pointer;
}
.loading-button{
  width: 160px;
  height: 35px;
  border-radius: 8px;
  border: 2px solid #2684DE;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
}
.loading{
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1100px) and (max-width: 1350px) {

  .titulo-esq{
    font-size: 16px;
  }
  .conteudo-inicial ol{
    font-size: 15px;
    padding-left: 25px;
    padding-top: 5px;
  }
  .area-cadastro{
    width: 60%;
    height: 88%;
  }
  .logo{
    width:100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .txt-termos{
    font-size: 11px;
  }
  .titulo-cadastro{
    font-size: 14px;
  }
  .saiba-mais a{
    font-size: 12px;
  }

}
@media screen and (min-width:920px) and (max-width:1100px) {
  .titulo-esq{
    font-size: 14px;
  }
  .conteudo-inicial ol{
    font-size: 13px;
    padding-left: 25px;
    padding-top: 5px;
  }
  .esq{
    width: 50%;
    height: 14%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }
  .area-cadastro{
    width: 60%;
    height: 94%;
  }
  .logo{
    width:100%;
    height: 10%;
    font-size: 15px;
  }
  .titulo-cadastro{
    font-size: 13px;
  }
  .saiba-mais a{
    font-size: 13px;
  }
}
@media screen and (min-width:690px) and (max-width:920px) {
  /* ---início do código do modal que modifica o seu conteúdo e chama um modal de cadastro */
  .modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100%;
    transition: 300ms;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  .modal-container{
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
  }
  .modal span{
    width: 100%;
    height: 40px;
    float: right;
    font-size: 36px;
    color: #000;
    margin:0px 20px;
    margin-bottom: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  .modal span:hover{
    color: #ff1010;
    transition: 400ms;
  }


  /* ----Fim da modificação e entrada do modal no mobile e tablet */

  .content-dir{
      display: none;  
  }
  .content-esq{
    width: 100%;
    height: 100%;
  }
  .conteudo-inicial .cont-glass{
    width: 90%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    border-radius: 12px;
    background: rgba(177, 177, 177, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  } 
  .titulo-cadastro{
    width: 68%;
    height: 43%;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 510;
    text-align: center;
  }
  .titulo-esq{
    font-size: 16px;
  }
  .conteudo-inicial ol{
    font-size: 15px;
  }
  .area-cadastro{
    width: 60%;
    height: 94%;
  }
  .dados div{
    font-size: 12px;
  }
  .dados-importantes .conteudo-dados div{
    font-size: 12px;
  }
  .logo-mobile{
      width:100%;
      height: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      font-family: Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
  }
  .esq{
    width: 40%;
    height: 14%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }
  .content-vidro{
    width: 100%;
    height: 90%;
  }
  .saiba-mais a{
    font-size: 0;
    pointer-events: none;
  }
  .saiba-mais a::after{
    visibility: visible;
    content: "Cadastrar";
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 8px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2684DE;
    font-size: 13px;    
  }
}
@media screen and (min-width:400px) and (max-width:690px) {
  /* ---início do código do modal que modifica o seu conteúdo e chama um modal de cadastro */
  .modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100%;
    transition: 250ms;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  .modal-container{
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
  }
  .modal span{
    width: 100%;
    height: 30px;
    float: right;
    font-size: 36px;
    color: #000;
    margin:0px 0px;
    margin-bottom: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  .modal span:hover{
    color: #ff1010;
    transition: 500ms;
  }

  /* ----Fim da modificação e entrada do modal no mobile e tablet */

  .content-dir{
    display: none;  
  }
  .content-esq{
    width: 100%;
    height: 100%;
  }
  .conteudo-inicial .cont-glass{
    width: 90%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    border-radius: 12px;
    background: rgba(177, 177, 177, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  .titulo-esq{
    font-size: 14px;
  }
  .conteudo-inicial ol{
    font-size: 13px;
  }
  .area-cadastro{
    width: 60%;
    height: 88%;
  }
  .logo-mobile{
    width:100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
  .dados div{
    width:100%;
    height:30%;
    font-size: 11px;
  }
  .dados input {
    width: 100%;
    height: 20px;
    border: 1px solid #2684DE;
    border-radius: 8px;
    background-color: #FFF;
    color: #000;
    padding: 6px;
  }
  .dados-importantes{
    width: 100%;
    height: 38%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
  }
  .dados-importantes .conteudo-dados div{
    width:28%;
    height:15px;
    font-size: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: #2684DE;
  }
  .dados-importantes input{
    width: 100%;
    height: 20px;
    border: 1px solid #2684DE;
    border-radius: 8px;
    background-color: #FFF;
    padding: 6px;
  }
  .uf{
    margin-left: 6px;
  }
  .dados-importantes .entrada-uf{
    width: 70%;
    height: 20px;
    margin-left: 10px;
  }
  .termos{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
  }
  .txt-termos{
    width: 90%;
    height: 100%;
    font-size: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #2684DE;
  }
  .login{
    width: 100%;
    height:8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .txt-login{
    font-size: 11px;
  }
  .logar{
    font-size: 11px;
    font-weight: 500;
    margin-left: 6px;
  }
  .esq{
    width: 40%;
    height: 13%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .content-vidro{
    width: 100%;
    height: 100%;
  }
  .titulo-cadastro{
    width: 80%;
    height: 30%;
    font-size: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 510;
    text-align: center;
  }
  .saiba-mais{
    width: 90px;
    height: 30px;
  }
  .saiba-mais a{
    font-size: 0;
    pointer-events: none;
  }
  .saiba-mais a:after{
    visibility:visible;
    content: "Cadastrar";
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 8px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2684DE ;
    font-size: 13px;
  }
  .saiba-mais a:active{
    background-color: #5f92c2 ;
  }
}
@media screen and (min-width:200px) and (max-width:400px) {
    /* ---início do código do modal que modifica o seu conteúdo e chama um modal de cadastro */
    .modal{
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -100%;
      transition: 300ms;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
    }
    .modal-container{
      width: 60%;
      height: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #FFFFFF;
      border-radius: 10px;
    }
    .modal span{
      width: 100%;
      height: 40px;
      float: right;
      font-size: 36px;
      color: #000;
      margin:0px 20px;
      margin-bottom: 10px;
      padding-right: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
    }
    .modal span:hover{
      color: #ff1010;
      transition: 400ms;
    }
  
  
    /* ----Fim da modificação e entrada do modal no mobile e tablet */
  
  .content-dir{
    display: none;  
  }
  .content-esq{
    width: 100%;
    height: 100%;
  }  
  .conteudo-inicial .cont-glass{
    width: 90%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    border-radius: 12px;
    background: rgba(177, 177, 177, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  .titulo-esq{
    font-size: 10px;
  }
  .conteudo-inicial ol{
    font-size: 9px;
  }
  .area-cadastro{
    width: 60%;
    height: 94%;
  }
  .logo-mobile{
    width:100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
  .dados div{
    width:100%;
    height:30%;
    font-size: 10px;
  }
  .dados input {
    width: 100%;
    height: 20px;
    border: 1px solid #2684DE;
    border-radius: 8px;
    background-color: #FFF;
    color: #000;
    padding: 6px;
  }
  .dados-importantes{
    width: 100%;
    height: 38%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
  }
  .dados-importantes .conteudo-dados div{
    width:28%;
    height:15px;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: #2684DE;
  }
  .dados-importantes input{
    width: 100%;
    height: 20px;
    border: 1px solid #2684DE;
    border-radius: 8px;
    background-color: #FFF;
    padding: 6px;
  }
  .uf{
    margin-left: 6px;
  }
  .dados-importantes .entrada-uf{
    width: 70%;
    height: 20px;
    margin-left: 10px;
  }
  .termos{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
  }
  .txt-termos{
    width: 90%;
    height: 100%;
    font-size: 9px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #2684DE;
  }
  .login{
    width: 100%;
    height:8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .txt-login{
    font-size: 10px;
  }
  .logar{
    font-size: 10px;
    font-weight: 500;
    margin-left: 6px;
  }
  .esq{
    width: 50%;
    height: 14%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }
  .content-vidro{
    width:100%;
    height: 90%; 
  }
  .titulo-cadastro{
    width: 80%;
    height: 25%;
    font-size: 9px;
  }
  .saiba-mais{
    width: 60px;
    height: 25px;
  }
  .saiba-mais a{
    font-size: 0;
    pointer-events: none;
  }
  .saiba-mais a:after{
    visibility:visible;
    content: "Cadastrar";
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 8px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2684DE ;
    font-size: 11px;
  }
}


